input:focus, select:focus{
  outline: none;
}

::-webkit-scrollbar{
  width: 14px;
  height: 10px;
}

::-webkit-scrollbar-track{
  background-color: rgb(95, 95, 95);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(17, 17, 21);
}


.scrollbar-color::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.scrollbar-color::-webkit-scrollbar-track{
  background-color: rgb(187, 187, 187);
}

.black-check{
  accent-color: rgb(145, 6, 6);
  
}



table tr:nth-of-type(even){
  background:rgba(0, 0, 0, 0.2)
}
th {
  font-weight: bold;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 10px,
  rgb(0, 0, 0) 1px 0 4px ; 
}
td {
  font-weight: 100;
}
th, td{
  max-width: 20ch;
}

select:focus{
  outline: none;
}

input[type="date"] {
  color: red;
  background-color: red;
}



.react-datepicker, .react-datepicker-popper, .react-datepicker__month-container, .react-datepicker__header
,.react-datepicker__day-names, .react-datepicker__day-name,.react-datepicker__current-month, .react-datepicker__aria-live, .react-datepicker__day {
  font-family: spacegrotesk, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: x-small;
  color: white !important;
  border: none !important;
  background: rgba(0, 0, 0, 0.5) !important;
  background:linear-gradient(rgba(0, 3, 15, 0.4), rgba(0, 3, 15, 0.4)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
  z-index: 50 !important;
  
}
.react-datepicker__day--today{
  color:  rgb(201, 0, 0) !important;
  
}
.react-datepicker__day--selected{
  background-color: rgb(100, 0, 0) !important;
  
}

.react-datepicker__day--keyboard-selected{
  background-color: rgb(rgb(79, 0, 0), green, blue);
  
}

.react-datepicker__day:hover{
  background-color: rgb(34, 34, 34) !important;
}

.react-datepicker-font-small{
  
  font-size: small;
}
.strike {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: dashed;
}

.bg-striped{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 5px,
  rgba(0, 0, 0, 0.3) 5px,
  rgba(0, 0, 0, 0.3) 10px)
}

.bg-dev-slate{
  background:linear-gradient(rgba(0, 11, 55, 0.15), rgba(0, 11, 55, 0.15)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.bg-dev-slate-dark{
  background:linear-gradient(rgba(0, 3, 15, 0.4), rgba(0, 3, 15, 0.4)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.bg-dev-slate-darker{
  background:linear-gradient(rgba(0, 3, 15, 0.6), rgba(0, 3, 15, 0.6)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.font-black-outline{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 10px,
  rgb(0, 0, 0) 1px 0 4px ; 
                        
}

.box-shadow-outline{
  box-shadow:  rgba(255, 255, 255, 0.4) 1px 0 20px,
  rgb(255, 255, 255) 1px 0 4px ; 
                        
}

.bg-earth{
  background:url(../images/earth2.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.bg-blur{
  backdrop-filter: blur(10px);
}


.LOG-IN-FORM, .SIGN-UP-FORM{
  width: 24rem;
}

.DialogOverlay {
  background-color: rgba(25, 25, 25, 0.3);
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 1000dvh;
  width: 1000dvh;
  /*
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  */
  backdrop-filter: blur(20px);
}

.DialogOverlayMisc {
  background-color: rgba(40, 40, 40, 0.3);
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 1000dvh;
  width: 1000dvh;
  /*
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  */
  backdrop-filter: blur(10px);
}

.DialogContent {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 50;
}

.DialogContentMisc {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 50;
}
.TRACKER-TABLE{
  height: 10rem;
}

.JOB-FORM {
  max-width: fit-content;
  max-height: 50rem;
  grid-template-columns: repeat(4,1fr);
}

.COLOR-TIPS{
  grid-template-columns: repeat(4, 1fr);
}

.TOOL-BAR{
  grid-template-columns: repeat(3,1fr)
}
.SEARCH-BAR{
  justify-content: end;
}

.my-tooltip {
  font-size: 10px;
}

.break-word{
  word-wrap: break-word;
  word-break: break-all;
}
@media (max-width: 1440px) {
  .TRACKER-CONTAINER{
    width: 90%;
  }
}
@media (max-width: 1280px) {
  
  .JOB-FORM {
    grid-template-columns: repeat(2,1fr);
  }
  /*
  .TOOL-BAR{
    grid-template-columns: repeat(2,1fr)
  }
  */
  .COLOR-TIPS{
    grid-template-columns: repeat(2, 1fr);
  }
  /*
  .COLOR-TIPS{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  */
  .COLOR-TIPS > span{
    justify-content: center;
  }
  
} 
@media (max-width: 900px) {
  .TOOL-BAR{
    grid-template-columns: repeat(2,1fr);
  }
  .COLOR-TIPS{
    display: none;
  }
  

}

@media (max-width: 769px) {
  .DialogContent {
    width: fit-content;
  }
  
}
@media (max-width: 640px) {
  .LOG-IN-FORM, .SIGN-UP-FORM{
    width: 90%;
  }
  .JOB-FORM {
    grid-template-columns: 1fr;
  }
  
}
@media (min-width: 640px) {
  .sm\:text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
}

@media (max-width: 640px) {
  .max-640px-hidden{
    display: none;
  }
  .max-640px-flex-column-w-full{
    width: 100%;
    flex-direction: column;
  }
  .max-640px-row{
    width: 100%;
    flex-direction: row;
  }
  .DialogContent {
    position:fixed;
    height: 95dvh;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 50;
    
  }
  .FILTER-LOGO{
    display: none;
  }
  .FILTER-LOGO-SMALL{
    display: block;
  }
  .FILTER-SECTION-DATES{
    flex-direction: column;
  }
  .TOOL-BAR{
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    
  }
  .ADD-JOB-BUTTON-CONTAINER{
    width: 100%;
  }
  .ADD-JOB-BUTTON{
    width: 100%;
  }
  .SEARCH-BAR-CONTAINER{
    width: 100%;
  } 
  .SEARCH-BAR-INPUT{
    width: 100%;
  } 
  .TRACKER-CONTAINER{
    width: 99%;
  }
}

@media (max-width: 300px) {
  .APP-CONTAINER{
    width: 300px;
  }
  .DialogContent {
    position:fixed;
    height: 95dvh;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 50;
    
  }
}


