input:focus select:focus{
  outline: none;
}





.bg-dev-slate{
  background:linear-gradient(rgba(0, 11, 55, 0.15), rgba(0, 11, 55, 0.15)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.bg-dev-slate-dark{
  background:linear-gradient(rgba(0, 3, 15, 0.4), rgba(0, 3, 15, 0.4)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.bg-dev-slate-darker{
  background:linear-gradient(rgba(0, 3, 15, 0.6), rgba(0, 3, 15, 0.6)),url(../background/dev-pattern.png);
  background-position: center;
  background-size: 75px;
}

.font-black-outline{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 10px,
  rgb(0, 0, 0) 1px 0 4px ; 
                        
}

.box-shadow-outline{
  box-shadow:  rgba(255, 255, 255, 0.4) 1px 0 20px,
  rgb(255, 255, 255) 1px 0 4px ; 
                        
}

.bg-earth{
  background:url(../images/earth2.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}


.LOG-IN-FORM, .SIGN-UP-FORM{
  width: 24rem;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 10;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  
}

.DialogContent {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 50;
  height: fit-content;
  
}

@media (max-width: 640px) {
  .LOG-IN-FORM, .SIGN-UP-FORM{
    width: 90%;
  }
}


