.HEADER-LOGO{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo{
  background-image: url('/src/logo/logo.png');
  background-position: center;
  background-size: 20rem;
}

.bg-header{
  background-color: #1b1b1b;
}

@media (max-width: 769px){
  .LOGGED-IN-NAV{
    
  }
  .HEADER-QUICK-MENU{
    display: none;
  }
  
}